# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\skylo\norweg-wp\skyloportfolio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
